<html>
<head>
    <title>弹弹堂</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="text/javascript">
//<!--
	var allowLeave = 2;
	var www="";
	var name="弹弹堂";

	function setFavorite(path,titlename,allowvalue)
	{ 
             www=path;
             name=titlename;
             allowLeave=allowvalue;
	}
	window.onbeforeunload = function(e)
    	{
           if(allowLeave==1)
           {
        	
           }
           if(allowLeave==2)
           {
        	    var browser = navigator.appName;
	            if (browser == "Netscape") {
	                e.preventDefault();
	            } else {
	                window.event.returnValue = '当前操作将退出弹弹堂游戏，是否继续？';
	            }
           }
           if(allowLeave==3)
           {
        	window.external.addFavorite(www,name);
           }
    }
    function killErrors() //杀掉所有的出错信息
    { 
	    return true; 
    }
	
	function setFlashFocus()
	{
		document.getElementById('game').focus();
	}
    window.onerror = killErrors; 
        // -->


#if ($UserType>= 2 )
    function trace(str) {
        alert(str);
    }
#end


    </script>     
    <style>
      body
        {
            margin: 0px 0px 0px 0px;
            padding: 0px;
            background-image: url(cdn/images/bg_all.jpg);
	     background-repeat: no-repeat;
        background-position: center center;
        }

#daohangtiao {
	width: 100%;
	text-align: left;
	height: 31px;
	margin: -16px 0px 0px 0px;
	z-index:100;
	position: fixed;
	top:0px;
}
#daohangtiao_nav {
	width: 100%;
	float: left;
	display: block;
	z-index: 100;
	overflow: visible;
	position: fixed;
	top: 0px;
	position: absolute;
	background:#2571B7;
	height: 31px;
}
#daohangtiao_nav li {
    list-style-type:none;
	width:auto;
	height:31px;
	line-height:31px;
	padding:0px 15px;
	float:left;
	text-align:center;
}
#daohangtiao_nav li:hover {
	background:#175286;
}
#daohangtiao_nav li a {
	color:#fff;
	font-size:12px;
	text-decoration:none;
}
#ldaohangtiao_nav li a:hover {
	text-decoration:none;
	color:#fff;
}
    </style>
</head>

<body onload= "setFlashFocus()">
<div id="daohangtiao">
  <ul class="menu" id="daohangtiao_nav">
    <li><a>欢迎你，#if ($UserType>= 2 )管理员#else玩家#end$Username</a></li>
#if ($UserType>= 2 )
    <li><a href='admin/' target="_blank">进入管理平台</a></li>
#end
    <li><a href='/' >刷新游戏</a></li>
    <li><a href='/?method=getinvite&user=$Username' target="_blank">复制我的邀请链接</a></li>
	<li><a href='/?method=pay&username=$Username' target="_blank">充值</a></li>
    <li><a href='/?method=logout' >注销登录</a></li>
  </ul>
</div>


    <table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td valign="middle">
                    <table border="0" align="center" cellpadding="0" cellspacing="0">
                        <tr>
                            <td align="center">
                                <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" id="game" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0"
                                    name="Main" width="1000" height="600" align="middle" id="Main">
                                    <param name="allowScriptAccess" value="always" />
                                    <param name="movie" value='Loading.swf?$Content&v=$Edition&rand=$Rand' />                   
                                    <param name="quality" value="high" />
                                    <param name="menu" value="false">
                                    <param name="bgcolor" value="#000000" />
                                    <embed src='cdn/Loading.swf?$Content&v=$Edition&rand=$Rand' width="1000" height="600"
                                        align="middle" quality="high" name="Main" allowscriptaccess="always" type="application/x-shockwave-flash"
                                        pluginspage="http://www.macromedia.com/go/getflashplayer" />
                                </object>
                            </td>
                        </tr>
                    </table>
            </td>
        </tr>
    </table>
</body>
</html>