<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
</head>
<style type="text/css">

    #Tx_url {
width:100%;/*自动适应父布局宽度*/
overflow:auto;
word-break:break-all;
height:183px;
    }
</style> 

<body><form id="form1" name="form1" method="post" action="GMAction.action?method=notice">
  <h3 align="center">系统公告</h3>
  <textarea name="Tx_url" id="Tx_url"></textarea>
    </br>
  <input type="submit" name="Bt_SendReward" id="Bt_SendReward" value="发送" />
</form>
</body>
</html>
