<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>弹弹堂</title>
    <link href="cdn/style/loginManager.css" rel="stylesheet" type="text/css" />
    <link type="text/css" rel="stylesheet" href="cdn/style/css.css"/>
    <script type="text/javascript" src="cdn/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="cdn/js/md5.js"></script>
    <script type="text/javascript">
    var a = false;
    function fEvent(sType,oInput){
        switch (sType){
            case "focus" :
                oInput.isfocus = true;
                oInput.style.backgroundColor='#FFFF66';
            case "mouseover" :
                oInput.style.borderColor = '#FFFF66';
                break;
            case "blur" :
                oInput.isfocus = false;
                oInput.style.backgroundColor="";
            case "mouseout" :
                if(!oInput.isfocus){
                    oInput.style.borderColor='#FFFF66';
                }
                break;
        }
    }
    function register() {
        if (a)
            return false;
        if (document.form1.user.value == "") {
            document.form1.user.focus();
            alert("用户名不能为空！！！");
            return false;
        }
        else if (document.form1.pass.value == "") {
            document.form1.pass.focus();
            alert("密码不能为空！！！");
            return false;
        }
        else {
            a = true;
            document.form1.pass.value = md5(document.form1.pass.value);
            document.form1.action = 'login.aspx?method=register';
            document.form1.method = 'post';
            document.form1.submit();
        }
    }
    function login() {
        if (a)
            return false;
        if (document.form1.user.value == "") {
            document.form1.user.focus();
            alert("用户名不能为空！！");
	    return false;

        }
        else if (document.form1.pass.value == "") {
            document.form1.pass.focus();
            alert("密码不能为空！！");
            return false;
        }
        else {
            a = true;

            document.form1.pass.value = md5(document.form1.pass.value);
            document.form1.action = 'login.aspx?method=login';
            document.form1.method = 'post';
            document.form1.submit();
        }
    }

    window.onload=function()  {
              document.form1.user.focus();
    }
    function BindEnter(obj) {
        if (obj.keyCode == 13) {
            login();
        }
    }




    </script>


</head>
 
<body onkeydown="BindEnter(event)" >
    <form name="form1">
        <table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td align="center" valign="middle">
                    <table width="974" height="787" border="0" cellspacing="0" cellpadding="0" class="login_bg">
                        <tr>
                            <td height="311">&nbsp;</td>
                        </tr>
                        <tr>
                            <td height="354" align="center" valign="top">
                                <table width="320" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td height="50" align="center">用户名</td>
                                        <td align="left"><input type="text" name="user" id="user" class="ip" onMouseOver="fEvent('mouseover',this)" onFocus="fEvent('focus',this)" onBlur="fEvent('blur',this)" onMouseOut="fEvent('mouseout',this)" /></td>
                                    </tr>
                                    <tr>
                                        <td height="50" align="center">密&nbsp;&nbsp;&nbsp;码</td>
                                        <td align="left"><input type="password" name="pass" id="pass" class="ip" autocomplete="off" onmouseover="fEvent('mouseover',this)" onfocus="fEvent('focus',this)" onblur="fEvent('blur',this)" onmouseout="fEvent('mouseout',this)" style="border-color: rgb(255, 255, 102);" /></td>
                                    </tr>
                                    <tr>
                                        <td align="center" colspan="2"><input type="submit" value="" onclick="return register();" class="btn1" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" value="" class="btn" onclick="return login();" /></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td height="107" align="center" valign="top"><p class="copyright">【免责声明】本游戏全部内容来自互联网，纯属网络游戏技术爱好研究，玩家捐助全部用来维持服务器费用，纯属自愿如有侵犯请第一时间联系.</p></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </form>



</body>
</html>
