<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="IndexPage" value="http://www.ddt.com/"/>
    <add key="InternalWeb" value="http://www.ddt.com:8080/api.do"/>
    <add key="CookieDomain" value=".ddt.com" />
    <add key="VMPath" value="D:\DDT\Website\s1.ddt.com\vm"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="CDN" patternSyntax="Wildcard" stopProcessing="true">
          <match url="cdn/*"/>
          <action type="Redirect" url="http://cdn.ddt.com/{R:1}"/>
        </rule>
        <rule name="audio.swf" patternSyntax="Wildcard" stopProcessing="true">
          <match url="audio.swf"/>
          <action type="Redirect" url="cdn/audio.swf"/>
        </rule>
        <rule name="shape.swf" patternSyntax="Wildcard" stopProcessing="true">
          <match url="shape.swf"/>
          <action type="Redirect" url="cdn/shape.swf"/>
        </rule>
        <rule name="ashx" patternSyntax="Wildcard" stopProcessing="true">
          <match url="ashx/*"/>
          <action type="Redirect" url="http://www.ddt.com:8080/ashx/{R:1}"/>
        </rule>
        <rule name="xml" patternSyntax="Wildcard" stopProcessing="true">
          <match url="xml/*"/>
          <action type="Redirect" url="http://www.ddt.com:8080/xml/{R:1}"/>
        </rule>
        <rule name="partical.xml" patternSyntax="Wildcard" stopProcessing="true">
          <match url="partical.xml"/>
          <action type="Redirect" url="cdn/partical.xml"/>
        </rule>
      </rules>
    </rewrite>
    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="vm"/>
        </hiddenSegments>
      </requestFiltering>
    </security>
    <defaultDocument>
      <files>
        <add value="admin.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>