<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="conString" value="Data Source=.;Initial Catalog=Db_Game;Persist Security Info=True;User ID=sa;Password=5214.lsj.5214"/>
    <add key="Path" value="D:\DDT\Web1\vm"/>
	  <add key="DefaultGold" value="0"/>
    <add key="DefaultMoney" value="0"/>
    <add key="DefaultGiftToken" value="0"/>
    <add key="ValidDate" value="30"/>
    <add key="WCFService" value="http://127.0.0.1:46001/WebHelperService/"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.webServer>
    <httpErrors>
      <remove statusCode="502" subStatusCode="-1"/>
      <remove statusCode="501" subStatusCode="-1"/>
      <remove statusCode="500" subStatusCode="-1"/>
      <remove statusCode="412" subStatusCode="-1"/>
      <remove statusCode="406" subStatusCode="-1"/>
      <remove statusCode="405" subStatusCode="-1"/>
      <remove statusCode="404" subStatusCode="-1"/>
      <remove statusCode="403" subStatusCode="-1"/>
      <remove statusCode="401" subStatusCode="-1"/>
    </httpErrors>
    <rewrite>
      <rules>
        <rule name="login" patternSyntax="Wildcard">
          <match url="login*"/>
          <action type="Rewrite" url="login.aspx"/>
        </rule>
        <rule name="game" patternSyntax="Wildcard">
          <match url="game*"/>
          <action type="Rewrite" url="game.aspx"/>
        </rule>
        <rule name="charge" patternSyntax="Wildcard">
          <match url="charge*"/>
          <action type="Rewrite" url="charge.aspx{R:1}"/>
        </rule>
        <rule name="gmaction" patternSyntax="Wildcard">
          <match url="admin/gmaction.action*"/>
          <action type="Rewrite" url="admin/gmaction.aspx{R:1}"/>
        </rule>
        <rule name="CDN" patternSyntax="Wildcard" stopProcessing="true">
          <match url="cdn/*"/>
          <action type="Redirect" url="http://cdn.hqgddt.com/{R:1}"/>
        </rule>
        <rule name="audio.swf" patternSyntax="Wildcard" stopProcessing="true">
          <match url="audio.swf"/>
          <action type="Redirect" url="cdn/audio.swf"/>
        </rule>
        <rule name="shape.swf" patternSyntax="Wildcard" stopProcessing="true">
          <match url="shape.swf"/>
          <action type="Redirect" url="cdn/shape.swf"/>
        </rule>
      </rules>
    </rewrite>
    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="vm"/>
        </hiddenSegments>
      </requestFiltering>
    </security>
    <defaultDocument>
      <files>
        <add value="admin.aspx"/>
        <add value="login.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>
    <bindings>
      <wsHttpBinding>
        <binding name="httpbinding" maxReceivedMessageSize="2147483647"/>
      </wsHttpBinding>
    </bindings>
  </system.serviceModel>
</configuration>