<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--数据库-->
    <add key="conString" value="Data Source=.;Initial Catalog=Db_Game;Integrated Security=SSPI" />
    <add key="LoginLapseInterval" value="30" />
    <add key="SaveInterval" value="5" />
    <add key="SaveRecordInterval" value="5" />
    <add key="ScanAuctionInterval" value="60" />
    <add key="ScanMailInterval" value="60" />
    <add key="ScanConsortiaInterval" value="180" />
    <add key="ServerID" value="0" />
    <add key="GameType" value="1" />
    <!--代理商ID-->
    <add key="AreaID" value="80" />
    <add key="LogPath" value="d:\ddt\GameLog" />
    <add key="TxtRecord" value="true" />
    <add key="HelpStr" value="sdf" />
    <add key="AAS" value="false" />
    <add key="DailyAwardState" value="true" />
    <add key="IP" value="0.0.0.0" />
    <add key="Port" value="25001" />
    <add key="BigBugleServerIp" value="" />
    <add key="BigAreaID" value="" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="Center.Server.CenterServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <netTcpBinding>
        <binding name="CenterService">
          <security mode="None">
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="Center.Server.CenterServiceBehavior" name="Center.Server.CenterService">
        <host>
          <baseAddresses>
            <add baseAddress="http://127.0.0.1:25004/CenterService/" />
          </baseAddresses>
        </host>
        <endpoint address="net.tcp://127.0.0.1:25003/" binding="netTcpBinding" bindingConfiguration="CenterService" contract="Center.Server.ICenterService">
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>