<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="InternalWeb" value="http://www.ddt.com:8080/api.do"/>
    <add key="CookieDomain" value=".ddt.com" />
  </appSettings>

    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>

  <system.webServer>
    <rewrite>
      <rules>
        <rule name="CDN" patternSyntax="Wildcard" stopProcessing="true">
          <match url="cdn/*"/>
          <action type="Redirect" url="http://cdn.ddt.com/{R:1}"/>
        </rule>
      </rules>
    </rewrite>
    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="vm"/>
        </hiddenSegments>
      </requestFiltering>
    </security>
    <defaultDocument>
      <files>
        <add value="login.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
