<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="conmemString" value="Data Source=.;Initial Catalog=Db_Users;Persist Security Info=True;User ID=sa;Password=5214.lsj.5214"/>
  </appSettings>

    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>

  <system.webServer>
    <rewrite>
      <rules>
        <rule name="login" patternSyntax="Wildcard">
          <match url="login*"/>
          <action type="Rewrite" url="login.aspx"/>
        </rule>
        <rule name="select" patternSyntax="Wildcard">
          <match url="select*"/>
          <action type="Rewrite" url="select.aspx"/>
        </rule>
        <rule name="CDN" patternSyntax="Wildcard" stopProcessing="true">
          <match url="cdn/*"/>
          <action type="Redirect" url="http://cdn.hqgddt.com/{R:1}"/>
        </rule>
      </rules>
    </rewrite>
    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="vm"/>
        </hiddenSegments>
      </requestFiltering>
    </security>
    <defaultDocument>
      <files>
        <add value="login.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
